django
django-multiselectfield
django-oauth-toolkit
django-oidc-provider>=0.4.4
-e git+https://github.com/suutari-ai/django-oidc-provider.git@token-module#egg=django-oidc-provider>=0.4.4
django-parler
django-cors-headers
djangorestframework
pyjwt
-e git+https://github.com/City-of-Helsinki/django-helusers.git@v0.2.3#egg=django-helusers==0.2.3
django-allauth
django-bootstrap3
psycopg2
raven
pip-tools
PyJWT
cryptography
