django
django-multiselectfield
django-oauth-toolkit
-e ./django-oidc-provider
django-parler
django-cors-headers
djangorestframework
pyjwt
django-helusers
django-allauth
django-bootstrap3
psycopg2
raven
pip-tools
PyJWT
cryptography
