django
django-multiselectfield
django-oauth-toolkit
git+https://github.com/suutari-ai/django-oidc-provider.git@hel#egg=django-oidc-provider-hel==0.4.4.1
django-parler
django-cors-headers
djangorestframework
pyjwt
django-helusers
django-allauth
django-bootstrap3
psycopg2
raven
pip-tools
PyJWT
cryptography
